streamlit
openai
uuid
pandas
boto3
pydantic
dotenv
python-dotenv
requests
PyJWT
streamlit-webrtc
streamlit-elements
boto3
streamlit-server-state
matplotlib
websockets
streamlit-javascript
google-api-python-client
google-auth-oauthlib
websockets
fpdf